<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container" id="main-content">
        <div class="row">
            <div class="col-6 no-padding">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search by name ..." />
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                </form>
            </div>

            <div class="col-6 no-padding">
                <a href="#" class="btn btn-success float-right">
                    <i class="fa fa-plus-square"></i> New contact
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <th:block th:if="${#lists.isEmpty(orders)}">
                <h5>No Data</h5>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(orders)}">
                <div class="table-responsive">
                    <h5>List of order</h5>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ID Order</th>
                            <th>Time</th>
                            <th>ID Flight</th>
                            <th>Location: Departure</th>
                            <th>Time: Departure</th>
                            <th>Location: Arrival</th>
                            <th>Time: Arrival</th>
                            <th>Total Person</th>
                            <th>Person Price</th>
                            <th>Total Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order,iterStat : ${orders}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.datetime}"></td>
                            <td th:text="${order.getFlight().getId()}"></td>
                            <td th:text="${order.getFlight().getDatetime_departure()}"></td>
                            <td th:text="${order.getFlight().getId()}"></td>
                            <td th:text="${order.getFlight().getDatetime_arrival()}"></td>
                            <td th:text="${order.typeFlight}"></td>
                           <td th:text="${order.total_person}"></td>
                           <td th:text="${order.price_person}"></td>
                            <td th:text="${order.total_price}"></td>
                            <td>
                                <a href="#" class="mr-sm-2 text-primary"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="text-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>

</body>
</html>
